## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

## Rider / JetBrains SPECIFIC
.idea/
*.sln.iml

## Visual Studio cache
.vs/

## Frontend specifics
BookingApp.UI/node_modules/
BookingApp.UI/dist/
BookingApp.UI/*.local